{% extends 'base.html' %}
{% load static %}
{% block content %}
       


  <div class="container section-title" data-aos="fade-up" style="margin-top: 90px; text-align: center;">
    <h2 style="font-size: 48px;">OUR WORK</h2>
  </div>
  

    <!-- Short-Video-Editing Section -->
    <section id="video-editing" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>VIDEO EDITING WORK</h2>
        <p>Transform your raw footage into stunning visual stories with our creative editing that captures attention and delivers impact.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
              <h3>Documentary Video Editing</h3>
              <ul>
                <li>Raw footage shaped into a compelling story.</li>
                <li>Animations and motion graphics for impact.</li>
                <li>Edited using Premiere Pro and After Effects.</li>
              </ul>
              
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative" style="padding: 0;">
              <video controls style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;"controlsList="nodownload">
                <source src="{% static 'assets/doc2.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div><!-- End Service Item -->   

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              
                <h3>Advanced Editing Techniques</h3>
              </a>
              <ul>
                <li>Smooth transitions and cinematic effects.</li>
                <li>Color grading for visual enhancement.</li>
                <li>Premium Sound design and background music.</li>
              </ul>
            </div>
          </div><!-- End Service Item -->
          

          
          
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
              
              <h3>Color Graded Video Editing</h3>
              <ul>
                <li>Color grading for a cinematic look.</li>
                <li>Raw footage shaped into a compelling story.</li>
                <li>Edited using Premiere Pro and After Effects.</li>
              </ul>
            </div>
          </div><!-- End Service Item -->
          
                 

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative" style="padding: 0;">
              <video controls style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;" controlsList="nodownload">
                <source src="{% static 'assets/colorg1.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div><!-- End Service Item -->   

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              
                <h3>Color Grading & Advanced Editing</h3>
              </a>
              <ul>
                <li>Smooth transitions and cinematic effects.</li>
                <li>Color grading for visual enhancement.</li>
                <li>Premium sound design and background music.</li>
              </ul>
            </div>
          </div><!-- End Service Item -->
          
          
   
        </div>

      </div>

    </section><!-- /Video-Editing Section -->







<!-- Logo-Design Section -->
<section id="logo-design" class="services section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>LOGO DESIGNING WORK</h2>
    <p>Craft unique and memorable logos that capture your brand's essence and leave a lasting impression on your audience.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item item-cyan position-relative">
          <a src="{% static 'assets/logo/logo8.jpg' %}" class="stretched-link">
            <img src="{% static 'assets/logo/logo8.jpg' %}" alt="Logo Design" style="width: 100%; height: 250px; object-fit: cover; border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item item-teal position-relative" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 100%;">
          
            <h3 style="margin-bottom: 20px;">Logo Design Excellence</h3>
          </a>
          <ul style="list-style: none; padding: 0;">
            <li style="margin-bottom: 10px;">Creative, brand-centered logos.</li>
            <li style="margin-bottom: 10px;">Clean, professional design approach.</li>
            <li style="margin-bottom: 10px;">Perfect for building brand identity.</li>
          </ul>
        </div>
      </div><!-- End Service Item -->
      

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item item-cyan position-relative">
          <a src="{% static 'assets/logo/logo2.jpg' %}" class="stretched-link">
            <img src="{% static 'assets/logo/logo2.jpg' %}" alt="Logo Design" style="width: 100%; height: 250px; object-fit: cover; border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item item-cyan position-relative">
          <a src="{% static 'assets/logo/logo7.jpg' %}" class="stretched-link">
            <img src="{% static 'assets/logo/logo7.jpg' %}" alt="Logo Design" style="width: 100%; height: 250px; object-fit: cover; border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item item-teal position-relative" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 100%;">
          
            <h3 style="margin-bottom: 20px;">Logo Design Showcase</h3>
          </a>
          <ul style="list-style: none; padding: 0;">
            <li style="margin-bottom: 10px;">Unique, brand-focused logos.</li>
            <li style="margin-bottom: 10px;">Crafted with professional tools.</li>
            <li style="margin-bottom: 10px;">Memorable and impactful designs.</li>
          </ul>
        </div>
      </div><!-- End Service Item -->
      

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item item-cyan position-relative">
          <a src="{% static 'assets/logo/logo10.jpg' %}" class="stretched-link">
            <img src="{% static 'assets/logo/logo10.jpg' %}" alt="Logo Design" style="width: 100%; height: 250px; object-fit: cover; border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section><!-- /Logo-design Section -->




    <!-- Web Development Section -->
    <section id="web-dev" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>WEB DEVELOPMENT WORK</h2>
        <p>Craft seamless, high-performance websites with a focus on user experience and impactful design that drives success.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 100%;">
                <h3 style="margin-bottom: 20px;">Web Development Showcase</h3>
              </a>
              <ul style="list-style: none; padding: 0;">
                <li style="margin-bottom: 10px;">Modern, responsive design.</li>
                <li style="margin-bottom: 10px;">Smooth user experience.</li>
                <li style="margin-bottom: 10px;">HTML, CSS, JS & Django stack.</li>
                <li style="margin-bottom: 10px;">Optimized for performance.</li>
                <li style="margin-bottom: 10px;">Clean, scalable code.</li>
              </ul>
            </div>
          </div><!-- End Service Item -->
          
          

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative" style="padding: 0;">
              <video controls style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;" controlsList="nodownload">
                <source src="{% static 'assets/vid22.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div><!-- End Service Item -->   

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 100%;">
                <h3 style="margin-bottom: 20px;">Web Dev Projects</h3>
              </a>
              <ul style="list-style: none; padding: 0;">
                <li style="margin-bottom: 10px;">Custom UI/UX layouts.</li>
                <li style="margin-bottom: 10px;">Fast-loading websites.</li>
                <li style="margin-bottom: 10px;">Full-stack functionality.</li>
                <li style="margin-bottom: 10px;">SEO-ready structure.</li>
                <li style="margin-bottom: 10px;">Mobile-first approach.</li>
              </ul>
            </div>
          </div><!-- End Service Item -->
          

        </div>

      </div>

    </section><!-- /Short-Video-Editing Section -->

    <script>
      document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
    

{% endblock %}